.checkbox {
  display: none;

  transition: all 1s;
}

.label {
  position: relative;
}

.checkbox_button {
  display: block;
  width: 1.8rem;
  height: 1.8rem;

  margin-right: 1.5rem;

  border: 2px solid var(--color-gray-200);
  border-radius: 3px;
}

.checkbox_button::before {
  content: "";
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: var(--color-black-12);

  position: absolute;
  top: -1.1rem;
  left: -1.08rem;

  transition: all 0.15s ease-in;
  visibility: hidden;
}

.checkbox:hover + .label .checkbox_button::before {
  visibility: visible;
}

.checkbox:checked + .label .checkbox_button::after {
  content: "";
  display: block;
  position: absolute;
  top: -3px;
  left: -3px;

  background-image: url(../../public/check-box-checked.png);
  background-repeat: no-repeat;

  width: 4rem;
  height: 4rem;
}

.checkbox_text {
  background-color: var(--color-gray-200);
  padding: 0.5rem 0.8rem;
  border-radius: 4px;
  width: max-content;

  font-size: 1.2rem;
  text-align: center;
  color: var(--color-white);

  position: absolute;
  top: 3.5rem;
  right: -4rem;

  transform: translateY(-1rem);
  transition: all 0.1s;
  visibility: hidden;
}

.checkbox:hover + .label .checkbox_text {
  visibility: visible;
  transform: translateY(0);
}

.input {
  display: flex;
  align-items: center;
}

.input span {
  font-size: 1.6rem;
  line-height: 1.5;
  letter-spacing: 0.5px;
}
